/* App.css */
body{
    background-color: red;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #138dde;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4176e1;
  }
 
  @media only screen and (max-width: 600px) {
  body{width: 500px;
height: 1000px;}
#mainbox{position: fixed;
    transform: scale(0.5);
    translate: -490px -200px;
    height: 1000px;
}
#heading{
    translate: -60px 40px;
}
#myButton{
    transform: scale(0.7);
translate: -650px 170px;
height: 70px;
width: 80px;

}
#inp{
width: 220px;
translate: -360px 180px;
}
#refresh{    transform: scale(0.6);
    translate: -700px 180px;
}





}





















