/* App.css */
body{
    background-color: red;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #138dde;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4176e1;
  }
 
  @media only screen and (max-width: 600px) {
  
#mainbox{
    transform: scale(0.5);
    translate: -490px -200px;
    height: 1000px;
}
#heading{
    translate: -60px 40px;
}
#myButton{


}
#inp{
width: 200px;
translate: -300px 100px;
}






}





















